In [1]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

In [2]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']
input_data = config['DATALAKE']['INPUT_DATA']
output_data = config['DATALAKE']['OUTPUT_DATA']

In [3]:
spark = SparkSession.builder.config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0").getOrCreate()

In [4]:
# song_data = os.path.join(input_data, 'song_data/*/*/*/*.json')
dfSourceSong = spark.read.json('./data/song-data/*/*/*/*.json').drop_duplicates()
dfSourceSong.show(3)
dfDimSongs = dfSourceSong.select('song_id', 'title', 'artist_id', 'duration').drop_duplicates()
dfDimSongs.show(3)
dfDimArtists = dfSourceSong.select('artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude').drop_duplicates()
dfDimArtists.show(3)

# dfDimUsers = dfSourceSong.select('user_id', 'first_name', 'last_name', 'gender', 'level').drop_duplicates()
# dfDimUsers.show(3)

+------------------+---------------+---------------+----------------+-----------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|artist_location|artist_longitude|artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+---------------+----------------+-----------+---------+---------+------------------+--------------------+----+
|ARPFHN61187FB575F6|       41.88415|    Chicago, IL|       -87.63241|Lupe Fiasco|279.97995|        1|SOWQTQZ12A58A7B63E|Streets On Fire (...|   0|
|AR1Y2PT1187FB5B9CE|       27.94017|        Brandon|       -82.32547|John Wesley|484.62322|        1|SOLLHMX12AB01846DC|   The Emperor Falls|   0|
|AR7G5I41187FB4CE6C|           null|London, England|            null|   Adam Ant|233.40363|        1|SONHOTT12A8C13493C|     Something Girls|1982|
+------------------+---------------+---------------+----------------+-----------+---------+---------+------------------+--------------------+----+
only showing top 3 rows

+------------------+--------------------+------------------+---------+
|           song_id|               title|         artist_id| duration|
+------------------+--------------------+------------------+---------+
|SOWQTQZ12A58A7B63E|Streets On Fire (...|ARPFHN61187FB575F6|279.97995|
|SOAOIBZ12AB01815BE|I Hold Your Hand ...|ARPBNLO1187FB3D52F| 43.36281|
|SOIAZJW12AB01853F1|          Pink World|AR8ZCNI1187B9A069B|269.81832|
+------------------+--------------------+------------------+---------+
only showing top 3 rows

+------------------+---------------+---------------+---------------+----------------+
|         artist_id|    artist_name|artist_location|artist_latitude|artist_longitude|
+------------------+---------------+---------------+---------------+----------------+
|AR3JMC51187B9AE49D|Backstreet Boys|    Orlando, FL|       28.53823|       -81.37739|
|AR0IAWL1187B9A96D0|   Danilo Perez|         Panama|         8.4177|       -80.11278|
|ARWB3G61187FB49404|    Steve Morse| Hamilton, Ohio|           null|            null|
+------------------+---------------+---------------+---------------+----------------+
only showing top 3 rows

In [5]:
dfLog = spark.read.json('./data/log-data/*.json')
dfLog = dfLog.filter(dfLog.page == "NextSong")

In [6]:
dfDimUser = dfLog.select('userId', 'firstName', 'lastName', 'gender','level').drop_duplicates();
dfDimUser.show(10)

+------+---------+--------+------+-----+
|userId|firstName|lastName|gender|level|
+------+---------+--------+------+-----+
|    57|Katherine|     Gay|     F| free|
|    84|  Shakira|    Hunt|     F| free|
|    22|     Sean|  Wilson|     F| free|
|    52| Theodore|   Smith|     M| free|
|    80|    Tegan|  Levine|     F| paid|
|    15|     Lily|    Koch|     F| paid|
|    37|   Jordan|   Hicks|     F| free|
|    98|   Jordyn|  Powell|     F| free|
|    48|   Marina|  Sutton|     F| free|
|    17| Makinley|   Jones|     F| free|
+------+---------+--------+------+-----+
only showing top 10 rows

In [7]:
import pandas as pd
from datetime import datetime
from pyspark.sql.functions import udf
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format, dayofweek
from pyspark.sql.types import *

get_timestamp = udf(lambda x : datetime.utcfromtimestamp(int(x)/1000), TimestampType())
dfLog = dfLog.withColumn("parsed_ts", get_timestamp("ts"))
dfLog.show(5)
dfDimTimeTable = dfLog.withColumn("hour", hour("parsed_ts"))\
            .withColumn("day", dayofmonth("parsed_ts"))\
            .withColumn("week", weekofyear("parsed_ts"))\
            .withColumn("month", month("parsed_ts"))\
            .withColumn("year", year("parsed_ts"))\
            .withColumn("weekday", dayofweek("parsed_ts"))\
            .select("ts","hour", "day", "week", "month", "year", "weekday").drop_duplicates()
dfDimTimeTable.show(3)

+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+--------------------+
|     artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|           parsed_ts|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+--------------------+
|   Harmonia|Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|2018-11-15 00:30:...|
|The Prodigy|Logged In|     Ryan|     M|            1|   Smith|260.07465| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|     The Big Gundown|   200|1542242481796|"Mozilla/5.0 (X11...|    26|2018-11-15 00:41:...|
|      Train|Logged In|     Ryan|     M|            2|   Smith|205.45261| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|            Marry Me|   200|1542242741796|"Mozilla/5.0 (X11...|    26|2018-11-15 00:45:...|
|Sony Wonder|Logged In|   Samuel|     M|            0|Gonzalez|218.06975| free|Houston-The Woodl...|   PUT|NextSong|1.540492941796E12|      597|           Blackbird|   200|1542253449796|"Mozilla/5.0 (Mac...|    61|2018-11-15 03:44:...|
|  Van Halen|Logged In|    Tegan|     F|            2|  Levine|289.38404| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|Best Of Both Worl...|   200|1542260935796|"Mozilla/5.0 (Mac...|    80|2018-11-15 05:48:...|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+--------------------+
only showing top 5 rows

+-------------+----+---+----+-----+----+-------+
|           ts|hour|day|week|month|year|weekday|
+-------------+----+---+----+-----+----+-------+
|1542795222796|  10| 21|  47|   11|2018|      4|
|1542799276796|  11| 21|  47|   11|2018|      4|
|1542195401796|  11| 14|  46|   11|2018|      4|
+-------------+----+---+----+-----+----+-------+
only showing top 3 rows

In [8]:
from pyspark.sql.functions import monotonically_increasing_id
#songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent
# join songplay_id, song_id, artist_id
dfFactSongPlays = dfLog.join(dfSourceSong, dfLog.song == dfSourceSong.title, how='inner')\
                    .select(monotonically_increasing_id().alias("songplay_id"),col("ts"),col("userId").alias("user_id"),"level","song_id","artist_id", col("sessionId").alias("session_id"), "location", col("userAgent").alias("user_agent"))
dfFactSongPlays.show(5)

#TODO: join hour|day|week|month|year|weekday
dfFactSongPlays = dfFactSongPlays.join(dfDimTimeTable, dfFactSongPlays.ts == dfDimTimeTable.ts)\
                .select("songplay_id", dfFactSongPlays.ts, "user_id", "song_id", "artist_id", "location", "user_agent", "hour", "day", "week", "month", "year", "weekday")
dfFactSongPlays.show(10)

+-----------+-------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
|songplay_id|           ts|user_id|level|           song_id|         artist_id|session_id|            location|          user_agent|
+-----------+-------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
|          0|1542837407796|     15| paid|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|       818|Chicago-Napervill...|"Mozilla/5.0 (X11...|
|          1|1542171963796|     10| free|SOGDBUF12A8C140FAA|AR558FS1187FB45658|       484|Washington-Arling...|"Mozilla/5.0 (Mac...|
|          2|1542618860796|     24| paid|SOGDBUF12A8C140FAA|AR558FS1187FB45658|       672|Lake Havasu City-...|"Mozilla/5.0 (Win...|
|          3|1543358159796|     80| paid|SOGDBUF12A8C140FAA|AR558FS1187FB45658|       992|Portland-South Po...|"Mozilla/5.0 (Mac...|
+-----------+-------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+

+-----------+-------------+-------+------------------+------------------+--------------------+--------------------+----+---+----+-----+----+-------+
|songplay_id|           ts|user_id|           song_id|         artist_id|            location|          user_agent|hour|day|week|month|year|weekday|
+-----------+-------------+-------+------------------+------------------+--------------------+--------------------+----+---+----+-----+----+-------+
|          0|1542837407796|     15|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|Chicago-Napervill...|"Mozilla/5.0 (X11...|  21| 21|  47|   11|2018|      4|
|          1|1542171963796|     10|SOGDBUF12A8C140FAA|AR558FS1187FB45658|Washington-Arling...|"Mozilla/5.0 (Mac...|   5| 14|  46|   11|2018|      4|
|          2|1542618860796|     24|SOGDBUF12A8C140FAA|AR558FS1187FB45658|Lake Havasu City-...|"Mozilla/5.0 (Win...|   9| 19|  47|   11|2018|      2|
|          3|1543358159796|     80|SOGDBUF12A8C140FAA|AR558FS1187FB45658|Portland-South Po...|"Mozilla/5.0 (Mac...|  22| 27|  48|   11|2018|      3|
+-----------+-------------+-------+------------------+------------------+--------------------+--------------------+----+---+----+-----+----+-------+

In [21]:
dfFactSongPlays.createOrReplaceTempView("songs")
dfDimUser.createOrReplaceTempView("dim_user")
dfDimArtists.createOrReplaceTempView("dim_artist")
spark.sql("""
select a.artist_name, count(a.artist_id) from songs as s 
left join dim_user as u on s.user_id = u.userId 
left join dim_artist as a on s.artist_id = a.artist_id 
where u.gender = 'F'
GROUP BY a.artist_name
""").show(3)

+-----------+----------------+
|artist_name|count(artist_id)|
+-----------+----------------+
|    40 Grit|               4|
|      Elena|               2|
+-----------+----------------+